<div class="row">

  <div class="col-sm-4">
    <canvas id="thumb" width=250 height=200>
  </div>

  <div class="col-sm-8">

     <div class="form_group">
       <%= f.label :name %>
       <%= f.text_field :name, class: "form-control" %>
     </div>

     <div class="form_group">
       <%= f.label :start_on %>
       <%= f.date_field :start_on, class: "form-control" %>
     </div>

     <div class="form_group">
        <%= f.label :end_on %>
        <%= f.date_field :end_on, class: "form-control" %>
     </div>

     <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
     </div>

  </div>

</div>

