<div class="alert alert-danger">
<% @simulation.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>
</div>

<%= form_for(@simulation, html: {id: "simulation-form", class: "simulation-form"}) do |f| %>

  <button id="save" type="submit" role="button" class="pull-right btn-success"><i class="fa fa-floppy-o"></i></button>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    <li><a href="#farm" data-toggle="tab">Farm</a></li>
    <li><a href="#weather" data-toggle="tab">Weather</a></li>
    <li><a href="#soil" data-toggle="tab">Soil</a></li>
  </ul>


  <div class="tab-content">

    <div class="tab-pane active" id="details">
      <%= render partial: "details", locals: {f: f} %>
    </div>

    <div class="tab-pane" id="farm">
      <%= render "farm" %>
    </div>

    <div class="tab-pane" id="weather">
      <%= render "weather" %>
    </div>

    <div class="tab-pane" id="soil">
      <%= render "soil" %>
    </div>

  </div>

  <%= f.hidden_field :state %>
  <%= f.hidden_field :farm_id %>
  <%= f.hidden_field :weather_id %>
  <%= f.hidden_field :soil_id %>

<% end %>

      
<%= link_to 'Back', simulations_path %>
