<div class="thumbnail simulation" data-id="<%= simulation.id %>">
  <%= link_to simulation do %>
    <%= simulation.farm.to_svg.html_safe %>
    <strong><%= simulation.name %></strong>
  <% end %>
  <p>by <%= link_to simulation.user.username, simulation.user %></p>
</div>

