<div class="well">

  <div id="simulation-controls" class="row">

    <div id="simulation-calendar" class="pull-left">
      <div id="calendar-month">
        <%= @simulation.start_on.strftime("%b") %>
      </div>
      <div id="calendar-day">
        <%= @simulation.start_on.day %>
      </div>
    </div>

    <div id="simulation-clock" class="pull-left">
      <%= @simulation.start_on.strftime("%H:%M") %>
    </div>

    <button id="simulation-run" role="button" class="btn">
      <i class="fa fa-play"></i> Run
    </button>

    <button id="simulation-pause" role="button" class="btn">
      <i class="fa fa-pause"></i> Pause
    </button>

    <button id="simulation-restart" role="button" class="btn">
      <i class="fa fa-refresh"></i> Restart
    </button>

  </div>

</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#farm" data-toggle="tab">Farm Operations</a></li>
  <li><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#data" data-toggle="tab">Data Layers</a></li>
</ul>

<div class="tab-content">
  
  <div class="tab-pane active" id="farm">
    <div class="row">

      <div class="col-md-1">
        <div class="button-group-vertical">
          <button role="button">Till</Plant>
          <button role="button">Plant</Plant>
          <button role="button">Harvest</Plant> 
        </div>
      </div>

      <div class="col-md-11 farm-display">
      </div>

    </div>
  </div>

  <div class="tab-pane" id="details">
<p>
  <strong>Name:</strong>
  <%= @simulation.name %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @simulation.start_on %>
</p>

<p>
  <strong>End on:</strong>
  <%= @simulation.end_on %>
</p>

<p>
  <strong>Description:</strong>
  <%= @simulation.description %>
</p>

  </div>

  <div class="tab-pane" id="data">
    <div id="data-layers">
    </div>
  </div>

</div>

<p>
  <strong>User:</strong>
  <%= @simulation.user_id %>
</p>


<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>
