<div class="well">

	<div id="simulation-controls" class="row">

		<div id="simulation-calendar" class="pull-left">
			<div id="calendar-month">
			<%= @simulation.start_on.strftime("%b") %>
			</div>

			<div id="calendar-day">
			<%= @simulation.start_on.day %>
			</div>
		</div>

		<div id="simulation-clock" class="pull-left">
		<%= @simulation.start_on.strftime("%H:%M") %>
		</div>

		<button id="simulation-run" role="button" class="btn">
		<i class="fa fa-play"></i> Run
		</button>

		<button id="simulation-pause" role="button" class="btn">
		<i class="fa fa-pause"></i> Pause
		</button>

		<button id="simulation-restart" role="button" class="btn">
		<i class="fa fa-refresh"></i> Restart
		</button>

		<a id="edit" href="<%= edit_simulation_path(@simulation) %>" role="button" class="btn btn-info pull-right"> 
		<i class="fa fa-edit"></i> Edit
		</a>

	</div>

</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="#farm" data-toggle="tab">Farm Operations</a></li>
	<li><a href="#details" data-toggle="tab">Details</a></li>
	<li><a href="#soil-data" data-toggle="tab">Soil Data</a></li>
	<li><a href="#crop-data" data-toggle="tab">Crop Data</a></li>
</ul>

<div class="tab-content">
  
<<<<<<< HEAD
  <div class="tab-pane active" id="farm">
    <div class="row">

      <div class="col-md-1 simulation-buttons-wrapper">
        <div class="button-group-vertical button-manual">
          <div class="button-group-label">Manual</div>
          <button id="manual-till" class="simulation-button" role="button">Manual Till</button>
          <button id="manual-plant" class="simulation-button" role="button">Manual Plant</button>
          <button id="manual-harvest" class="simulation-button" role="button">Manual Harvest</button> 
          <button id="clear-game-path" class="simulation-button" role="button">Cancel Navigation</button>
        </div>
        <div class="button-group-vertical button-auto button-group-marginbottom">
          <div class="button-group-label">Automatic</div>
          <button id="auto-till" class="simulation-button" role="button">Auto Till</button>
          <button id="auto-plant" class="simulation-button" role="button">Auto Plant</button> 
          <button id="auto-harvest" class="simulation-button" role="button">Auto Harvest</button>
        </div>
		
		
		<div class="button-group-vertical button-auto button-group-marginbottom" id="simulation-pan-arrow-menu">
			<div class="button-group-label">Pan Viewport</div>
			<table style="margin-left:auto; margin-right:auto;">
				<tr>
					<td>
					</td>
					<td>
						<button id="simulation-pan-up" role="button" class="btn pan-viewport-btn">
							&#8593;
						</button>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<button id="simulation-pan-left" role="button" class="btn pan-viewport-btn">
							&#8592;
						</button>
					</td>
					<td>
						<button id="simulation-pan-center" role="button" class="btn pan-viewport-btn">
							<%= image_tag("tractor.png", :alt => "center", :class => "") %>
						</button>
					</td>
					<td>
						<button id="simulation-pan-right" role="button" class="btn pan-viewport-btn">
							&#8594;
						</button>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<button id="simulation-pan-down" role="button" class="btn pan-viewport-btn">
							&#8595;
						</button>
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div>
		<button id="simulation-expand-viewport-button" role="button" class="simulation-button">Expand Viewport</button>
		<button id="simulation-shrink-viewport-button" role="button" class="simulation-button">Shrink Viewport</button>
=======
	<div class="tab-pane active" id="farm">
		<div class="row">

			<div class="col-md-1 simulation-buttons-wrapper">

				<div class="button-group-vertical button-manual">
					<div class="button-group-label">Manual</div>
					<button id="manual-till" class="simulation-button" role="button">Manual Till</button>
					<button id="manual-plant" class="simulation-button" role="button">Manual Plant</button>
					<button id="manual-harvest" class="simulation-button" role="button">Manual Harvest</button> 
					<button id="clear-game-path" class="simulation-button" role="button">Cancel Navigation</button>
				</div>

				<div class="button-group-vertical button-auto button-group-marginbottom">
					<div class="button-group-label">Automatic</div>
					<button id="auto-till" class="simulation-button" role="button">Auto Till</button>
					<button id="auto-plant" class="simulation-button" role="button">Auto Plant</button> 
					<button id="auto-harvest" class="simulation-button" role="button">Auto Harvest</button>
				</div>
>>>>>>> 867499adc1b697a7f234c67648665c971dec4049
		
		
				<div class="button-group-vertical button-auto button-group-marginbottom" id="simulation-pan-arrow-menu">
					<div class="button-group-label">Pan Viewport</div>
					<table style="margin-left:auto; margin-right:auto;">
						<tr>
							<td></td>
							<td>
								<button id="simulation-pan-up" role="button" class="btn pan-viewport-btn">
									&#8593;
								</button>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<button id="simulation-pan-left" role="button" class="btn pan-viewport-btn">
									&#8592;
								</button>
							</td>
							<td>
								<button id="simulation-pan-center" role="button" class="btn pan-viewport-btn">
									<%= image_tag("tractor.png", :alt => "center", :class => "") %>
								</button>
							</td>
							<td>
								<button id="simulation-pan-right" role="button" class="btn pan-viewport-btn">
									&#8594;
								</button>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button id="simulation-pan-down" role="button" class="btn pan-viewport-btn">
									&#8595;
								</button>
							</td>
							<td></td>
						</tr>
					</table>
				</div>		
			</div>

			<div class="col-md-11 simulation-box-wrapper">
				<div id="farm-display"></div>
			</div>

		</div>
	</div>

	<div class="tab-pane" id="details">
		<p>
		  <strong>Name:</strong>
		  <%= @simulation.name %>
		</p>

		<p>
		  <strong>Start on:</strong>
		  <%= @simulation.start_on %>
		</p>

		<p>
		  <strong>End on:</strong>
		  <%= @simulation.end_on %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @simulation.description %>
		</p>

	</div>

	<div class="tab-pane" id="soil-data">
		<div class="row">
			<div class="col-md-2">
				<div id="soil-data-layer-checkboxes">
					<button id="test-button" role="button">Test</button>
					<button id="kill-button" role="button">Kill Worker</button>
					<h4 id="test-header">CHANGE THIS TEXT</h4>
					<h4>Legend</h4>
				</div>
			</div>
			<div class="col-md-10">
				<div id="soil-data-layers" class="data-layers">
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane" id="crop-data">
		<div class="row">
			<div class="col-md-2">
				<div id="crop-data-layer-checkboxes">
				  <h4>Legend</h4>
				</div>
			</div>
			<div class="col-md-10">
				<div id="crop-data-layers" class="data-layers">
				</div>
			</div>
		</div>
	</div>

</div>

<p>
  <strong>User:</strong>
  <%= @simulation.user_id %>
</p>


<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>

<%= render "field_select" %>
<%= render "crop_select" %>
