<div class="thumbnail farm" data-id="<%= farm.id %>">
  <%= link_to farm do %>
    <img src="<%=
      ["http://maps.googleapis.com/maps/api/staticmap?", #key=AIzaSyAWk3UQFfLP1-q-VrLd46sKcZ-RyYMDfTM",
       "markers=color:red|#{farm.latitude},#{farm.longitude}",
       "zoom=13",
       "maptype=terrain",
       "size=600x300"
      ].join("&")
    %>" alt="<%= farm.name %>" >
    <strong><%= farm.name %></strong>
  <% end %>
  <p>by <%= link_to farm.user.username, farm.user %></p>
</div>
