<%= form_for(@farm, html: {class: "farm-form"}) do |f| %>

  <button id="save" type="submit" role="button" class="pull-right btn-success"><i class="fa fa-floppy-o"></i></button>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    <li><a id="location-tab" href="#location" data-toggle="tab">Location</a></li>
    <li><a id="boundary-tab" href="#boundary" data-toggle="tab">Field Boundaries</a></li>
    <li><a href="#elevation" data-toggle="tab">Elevation</a></li>
    <li><a id="soil-tab" href="#soil" data-toggle="tab">Soil Profile</a></li>
  </ul>


  <div class="tab-content">

    <div class="tab-pane active" id="details">
      <div class="form_group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="tab-pane" id="location">
      <%= render partial: "location", locals: {f: f} %>
    </div>

    <div class="tab-pane" id="boundary">
      <%= render partial: "field_boundaries", locals: {f: f} %>
    </div>

    <div class="tab-pane" id="elevation">
      <%= render partial: "elevation", locals: {f: f} %>
    </div>

    <div class="tab-pane" id="soil">
      <%= render partial: "soil_profile", locals: {f: f} %>
    </div>

  </div>

  <%= f.hidden_field :data %>

<% end %>
