<h1>New farm</h1>
<%= form_for(@farm) do |f| %>

  <button type="submit" role="button" class="pull-right btn-success"><i class="fa fa-floppy-o"></i></button>

  <ul class="nav nav-tabs">
    <li><a href="#details" data-toggle="tab">Details</a></li>
    <li class="active"><a href="#location" data-toggle="tab">Location</a></li>
    <li><a id="boundary-tab" href="#boundary" data-toggle="tab">Field Boundaries</a></li>
    <li><a href="#elevation" data-toggle="tab">Elevation</a></li>
    <li><a href="#soil" data-toggle="tab">Soil Profiles</a></li>
  </ul>


  <div class="tab-content">

    <div class="tab-pane" id="details">
      <div class="form_group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="tab-pane active" id="location">
      <div class="bs-callout bs-callout-info">
        <h4>Establishing your farm's location</h4>
        <p>
          You need to provide your farm's <a href="http://en.wikipedia.org/wiki/Geographic_coordinate_system">geographic coordinates<i class="fa fa-external-link"></i></a>.
          These can be provided three ways: 1) directly entering your farm's latitude and longitude, 2) searching by address, or 3) dragging the farm's pin to the
          appropriate location on the Google map.
        </p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :latitude %>
            <%= f.text_field :latitude, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :longitude %>
            <%= f.text_field :longitude, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-1">
          <h3>OR</h3>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <%= label_tag "Search by Address" %>
            <div class="input-group">
              <%= text_field_tag :address, "", class: "form-control" %>
              <span class="input-group-btn">
                <button id="search-by-address" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <label>Drag on Map</label>
      <div id="farm-map"></div>
    </div>

    <div class="tab-pane" id="boundary">
      <div class="bs-callout bs-callout-info">
        <h4>Establishing your farm's field boundaries</h4>
        <p>
          You need to provide the bounds of your farm. This can be done by: 1) manually entering in multiple ways:
        </p>
      </div>

      <div id="farm_field_map"></div>

      <table class="table field-boundary">                
        <thead>
          <tr>
            <th>#</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="boundary-corner">
            <td>
              <%= text_field_tag :field_bounds, "", placeholder: "latitude", class: "form_control" %> 
            </td>
            <td>
              <%= text_field_tag :field_bounds, "", placeholder: "longitude", class: "form_control" %> 
            </td>
            <td>
              <button class="btn btn-xs btn-danger"><i class="fa fa-o-cross"></i>Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="tab-pane" id="elevation">
      <div class="bs-callout bs-callout-info">
        <h4>Establishing your farm's elevation</h4>
        <p>
          You need to provide your farm's elevation. This can be done in multiple ways: 
        </p>
      </div>

      <canvas id="elevation_bitmap"></canvas>
    </div>

    <div class="tab-pane" id="soil">
      <canvas id="soil_bitmap"></canvas>
    </div>

  </div>

  <%= f.hidden_field :data %>

<% end %>

<% render 'form' %>



<%= link_to 'Back', farms_path %>
