<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @farm.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @farm.longitude %>
</p>

<p>
  <strong>Data:</strong>
  <%= @farm.data %>
</p>

<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
