<div class="panel panel-default">

  <div class="panel-heading">
    <%= link_to edit_farm_path(@farm), class: "btn btn-info pull-right" do %>
      <i class="fa fa-edit"></i> Edit
    <% end %>
    <h1 class="panel-title"><%= @farm.name %></h1>
    <p>by <%= link_to @farm.user.username,@farm.user %></p>
  </div>

  <div class="panel-body">
    <div class="row">

      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag @farm.static_map_url, alt: @farm.name %>
        </div>
      </div>

      <div class="col-md-8">

        <h4>Description</h4>
        <div>
          <%= @farm.description %>
        </div>

      </div>

    </div>
  </div>

</div>

