<%= form_for(@soil) do |f| %>
  <% if @soil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soil.errors.count, "error") %> prohibited this soil from being saved:</h2>

      <ul>
      <% @soil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_area :code %>
  </div>
  <div class="field">
    <%= f.label :workspace %><br>
    <%= f.text_area :workspace %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
