<div class="thumbnail soil" data-id="<%= soil.id %>">
  <%= link_to soil do %>
    <%= image_tag "soil-#{soil.icons}.png" %>
    <strong><%= soil.name %></strong>
  <% end %>
  <p>by <%= link_to soil.user.username, soil.user %></p>
</div>

