<div class="panel panel-default">

  <div class="panel-heading">
    <%= link_to edit_soil_path(@soil), class: "btn btn-info pull-right" do %>
      <i class="fa fa-retweet"></i> See Inside
    <% end %>
    <h1 class="panel-title"><%= @soil.name %></h1>
    <p>by <%= link_to @soil.user.username, @soil.user %></p>
  </div>

  <div class="panel-body">
    <div class="row">

      <div class="col-md-4">
        <%= image_tag "soil-#{@soil.icons}.png" %>
      </div>

      <div class="col-md-8">
        <h4>Description</h4>
        <div>
          <%= @soil.description %>
        </div>
      </div>

    </div>
  </div>

</div>

