<div class="thumbnail weather" data-id="<%= weather.id %>">
  <%= link_to weather do %>      
    <%= image_tag "weather-#{weather.icons}.png" %>
    <strong><%= weather.name %></strong>
  <% end %>
  <p>by <%= link_to weather.user.username, weather.user %></p>
</div>
