<div class="panel panel-default">

  <div class="panel-heading">
    <%= link_to edit_weather_path(@weather), class: "btn btn-info pull-right" do %>
      <i class="fa fa-retweet"></i> See Inside
    <% end %>
    <h1 class="panel-title"><%= @weather.name %></h1>
    <p>by <%= link_to @weather.user.username, @weather.user %></p>
  </div>

  <div class="panel-body">
    <div class="row">
  
      <div class="col-md-4">
        <%= image_tag "weather-#{@weather.icons}.png" %>
      </div>

      <div class="col-md-8">
        <h4>Description</h4>
        <div>
          <%= @weather.description %>
        </div>
      </div>

    </div>
  </div>

</div>


