<div class="panel panel-default">

  <div class="panel-heading">
    <%= link_to edit_weather_path(@weather), class: "btn btn-info pull-right" do %>
      <i class="fa fa-retweet"></i> See Inside
    <% end %>
    <h1 class="panel-title">
      <% if can? :edit, @weather %>
        <%= best_in_place @weather, :name %>
      <% else %>
        <%= @weather.name %>
      <% end %>
    </h1>
    <p>by <%= link_to @weather.user.username, @weather.user %></p>
  </div>

  <div class="panel-body">
    <div class="row">
  
      <div class="col-sm-4">
        <%= image_tag "weather-#{@weather.icons}.png" %>
      </div>

      <div class="col-sm-8">
        <h4>Description</h4>
        <div>
          <% if can? :edit, @weather %>
            <%= best_in_place @weather, :description, type: :textarea %>
          <% else %>
            <%= @weather.description %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>


