<div class="well">
  <div class="btn-groupy">
    <button id="run" role="button" class="btn btn-success">
      <i class="fa fa-play-circle-o"></i>
      Run
    </button>
    <!--button id="plant" role="button" class="btn btn-success">
      <i class="fa fa-exclamation"></i>
      Plant
    </button-->
    <button id="save" role="button" class="btn btn-info">
      <i class="fa fa-floppy-o"></i>
      Save Crop
    </button>
    <span id='message' class="alert"></span>
  </div>

  <div class="row">
    <div id="blockly-editor" data-model-type="crop" data-model-url="<%= url_for(@crop) %>" data-model-id="<%= @crop.id %>" class="col-md-9" style="height: 80%"></div>
    <div id="blockly-iopanel" class="col-md-3">
      <ul class="list-group">

        <li class="list-group-item list-group-item-header">
          <h4>Inputs</h4>
        </li>

        <li class="list-group-item">
          <input id="elapsed_time" type="number" value="0" class="pull-right">
          Elapsed simulation time (minutes)
        </li>

        <li class="list-group-item">
          <input id="latitude" type="number" value="0" class="pull-right">
          Latitude
        </li>
        <li class="list-group-item">
          <input id="longitude" type="number" value="0" class="pull-right">
          Longitude
        </li>

        <%= io_item("rainfall", "rain (in mm)", 0, as: :number) %>
        <%= io_item("snowfall", "snow (in mm)", 0, as: :number) %>
        <%= io_item("average_temperature", "average temperature (in &deg;C)", 0, as: :number) %>
        <%= io_item("high_temperature", "high temperature (in &deg;C)", 0, as: :number) %>
        <%= io_item("low_temperature", "low temperature (in &deg;C)", 0, as: :number) %>
        <%= io_item("wind_speed", "wind speed (in m/h)", 0, as: :number) %>
        <%= io_item("wind_direction", "wind direction (in compass degrees)", 0, as: :number) %>
        <%= io_item("dew_point", "dew point (in &deg;C)", 0, as: :number) %>
        <%= io_item("relative_humidity", "relative humidity (%)", 0, as: :number) %>

        <%= io_item("snow_cover", "snow cover (mm)", 0) %>
        <%= io_item("water_content", "water content (mm)", 0) %>
        <%= io_item("wilting_point", "wilting point (mm)", 0) %>
        <%= io_item("percolation_travel_time", "percolation travel time (mm)", 0) %>
        <%= io_item("porosity", "porosity (mm)", 0) %>

        <%= io_item "nitrate", "nitrate (kg/ha)", 0 %>
        <%= io_item "ammonium", "ammonium (kg/ha)", 0 %>
        <%= io_item "fresh_organic_nitrogen", "fresh organic N (kg/ha)", 0 %>
        <%= io_item "active_organic_nitrogen", "fresh organic N (kg/ha)", 0 %>
        <%= io_item "stable_organic_nitrogen", "fresh organic N (kg/ha)", 0 %>
        <%= io_item "labile_phosphorus", "labile phosphorus (kg/ha)", 0 %>
        <%= io_item "fresh_organic_phosphorus", "fresh organic phosphorus (kg/ha)", 0 %>
        <%= io_item "bound_organic_phosphorus", "organic matter-bound phosphorus (kg/ha)", 0 %>
        <%= io_item "active_mineral_phosphorus", "active mineral phosphorus (kg/ha)", 0 %>
        <%= io_item "stable_mineral_phosphorus", "stable mineral phosphorus (kg/ha)", 0 %>
        <%= io_item "flat_residue_carbon", "carbon in flat residue (kg/ha)", 0 %>
        <%= io_item "humus_carbon", "carbon in humus (kg/ha)", 0 %>

        <li class="list-group-item list-group-item-header">
          <h4>Outputs</h4>
        </li>

        <%= io_item("leaf_biomass", "leaf biomass (kg)", 0) %>
        <%= io_item("stem_biomass", "stem biomass (kg)", 0) %>
        <%= io_item("reproductive_organ_biomass", "reproductive organ biomass (kg)", 0) %>
        <%= io_item("storage_organ_biomass", "storage organ biomass (kg)", 0) %>
        <%= io_item("root_biomass", "root biomass (kg)", 0) %>
        <%= io_item("standing_residue_biomass", "standing residue biomass (kg)", 0) %>

      </ul>
    </div>
  </div>


  <xml id="toolbox" style="display: none">

    <category name="Simulation">
      <block type="simulation_elapsed_time"></block>
      <block type="simulation_every_timestep"></block>
    </category>

    <category name="Weather">
      <block type="weather_get_precipitation"></block>
      <block type="weather_get_solar_radiation"></block>
      <block type="weather_get_temperature"></block>
      <block type="weather_get_wind_speed"></block>
      <block type="weather_get_wind_direction"></block>
      <block type="weather_get_dew_point"></block>
      <block type="weather_get_relative_humidity"></block>
    </category>

    <category name="Soil">
      <block type="soil_set_snow_cover"></block>
      <block type="soil_get_snow_cover"></block>
      <block type="soil_set_water_content"></block>
      <block type="soil_get_water_content"></block>
      <block type="soil_set_wilting_point"></block>
      <block type="soil_get_wilting_point"></block>
      <block type="soil_set_percolation_travel_time"></block>
      <block type="soil_get_percolation_travel_time"></block>
      <block type="soil_set_porosity"></block>
      <block type="soil_get_porosity"></block>
      <block type="soil_set_nitrate"></block>
      <block type="soil_get_nitrate"></block>
      <block type="soil_set_ammonium"></block>
      <block type="soil_get_ammonium"></block>
      <block type="soil_set_nitrogen"></block>
      <block type="soil_get_nitrogen"></block>
      <block type="soil_set_phosphorus"></block>
      <block type="soil_get_phosphorus"></block>
      <block type="soil_set_carbon"></block>
      <block type="soil_get_carbon"></block>
    </category>

    <category name="Crop">
      <block type="crop_set_biomass"></block>
      <block type="crop_get_biomass"></block>
    </category>

    <category name="Logic">
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
      <block type="controls_if"></block>
      <block type="controls_if"><mutation else="1"></mutation></block>
      <block type="controls_if"><mutation elsif="1" else="1"></mutation></block>
      <block type="logic_ternary"></block>
    </category>

    <category name="Loops">
      <block type="controls_repeat_ext"></block>
      <block type="controls_whileUntil"></block>
      <block type="controls_for"></block>
      <block type="controls_forEach"></block>
      <block type="controls_flow_statements"></block>
    </category>

    <category name="Math">
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
      <block type="math_trig"></block>
      <block type="math_constant"></block>
      <block type="math_number_property"></block>
      <block type="math_change"><value name="DELTA"><block type="math_number"><field name="NUM">1</field></block></value></block>
      <block type="math_round"></block>
      <block type="math_on_list"></block>
      <block type="math_modulo"></block>
      <block type="math_constrain"></block>
      <block type="math_random_int"></block>
      <block type="math_random_float"></block>
    </category>

    <category name="Text">
      <block type="text"><field name="TEXT">Hello</field></block>
      <block type="text_print"></block>
    </category>

    <category name="Lists">
      <block type="lists_create_empty"></block>
      <block type="lists_create_with"></block>
      <block type="lists_repeat"></block>
      <block type="lists_length"></block>
      <block type="lists_isEmpty"></block>
      <block type="lists_indexOf"></block>
      <block type="lists_getIndex"></block>
      <block type="lists_setIndex"></block>
    </category>

    <category name="Variables" custom="VARIABLE">
    </category>

    <category name="Functions" custom="PROCEDURE">
    </category>

  </xml>

  <%= @crop.workspace.html_safe %>

</div>
